

.logo {
    height: 200px;
   width: 500px;
   margin-left: 28%;
}
h2{
    margin-left: 30%;
}



th{
    color: black;    
    font-size: 30px;
   
}

td{
    color: black;
    font-weight: bold;
    font-size: 20px;
    
}


.col{
    margin-left: 10%;
   
}



