body {
    background-color: lightblue;
    padding: 50px;
    font-family: 'Roboto Condensed', sans-serif;
font-family: 'Germania One', cursive;
}
h1.titulo-principal {
    color:brown;
    font-size: 40px;
    background-color: white;
    border: 3px solid brown;
    border-radius: 5px;
    max-width: 45%;
    text-align: center;
}
div.articulo {
    width: 200px;
    height: 450px;
    padding: 2px;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    display: inline-block;
}

.imagen {
    width: 99%;
    height: 45%;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
}
div.precio {
    width: 100%;
    height: 8%;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
}
div.nombre {
    width: 100%;
    height: 6%;
    text-align: left;
    padding-right: 2px;
    font-size: 20px;
    background-color:white;
    }
div.descripcion {
        width: 100%;
        height: 27%;
        text-align: left;
        color: darkslategray;
        font-size: 15px;
        background-color: white;
  }
  .corazon{
    width: 38%;
    height: 12%;
    background-color: white;
    text-align: center;
    padding-right: 5px;
    display: inline-block;
    border-radius: 20px;
  }
  .chat{
    width: 40%;
    height: 12%;
    background-color: white;
    padding-left: 10px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
   
  }
  