html, body{
    background-color: white;
    margin: 0;
    padding: 0; 
}

p.top{
    top: 0px;
    width: 100%;
    height: 40px;
    position: relative;
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    margin: 0;
    padding: 5px
    }
p.bottom{
        bottom: 0px;
        width: 100%;
        height: 40px;
        position: absolute;
        background-color: red;
        color: white;
        text-align: center;
        font-size: 20px;
        padding-top: 10px;
        margin: 0;
        padding: 5px;
    }
div.caja{
    position: relative;
    color: white;
    background-color: brown;
    margin: 10%;
    padding: 30px;
    text-align: center;
    font-size: 150px;
}
div.bola_top_left{
    position: absolute;
    top: -100px;
    left: -100px;
    background-color: white;
    border: brown 20px solid;
    border-radius: 150px;
    width: 200px;
    height: 200px;
}
div.bola_top_right{
    position: absolute;
    top: -100px;
    right: -100px;
    background-color: white;
    border: brown 20px solid;
    border-radius: 150px;
    width: 200px;
    height: 200px;
}
div.bola_bottom_left{
    position: absolute;
    bottom: -100px;
    left: -100px;
    background-color: white;
    border: brown 20px solid;
    border-radius: 150px;
    width: 200px;
    height: 200px;
}
div.bola_bottom_right{
    position: absolute;
    bottom: -100px;
    right: -100px;
    background-color: white;
    border: brown 20px solid;
    border-radius: 150px;
    width: 200px;
    height: 200px;
}
div.text{
    position: relative;
    color: black;
    background-color: lightseagreen;
    border: 0px solid;
    border-radius: 50px;
    margin: 10%;
    padding-top: 100px;
    text-align: center;
    font-size: 20px;
    width: 200px;
    height: 200px;

}
div.text1{
    position: relative;
    color: black;
    background-color: red;
    border: 0px solid;
    border-radius: 50px;
    margin: 10%;
    padding-top: 100px;
    text-align: center;
    font-size: 20px;
    width: 400px;
    height: 400px;
}
p.text{
    position: absolute;
    color: black;
}