body {
    background-color: white;
    padding: 50px;
}
h1.fnt-red {
    color: red;
    }
    .titulo{
        color: aquamarine;
        font-size: 30px;
        font-style: italic;
    }
    .texto{
        color: blue;
        font-size: 15px
    }
    .destacado{
        font-style: italic;
        font-weight: bold;
    }
    .fnt-blue {
    color: blue;
    }
    #nombre_alumno {
    color: red;
    text-decoration: underline;
    }
    .a {
        font-weight: bold;
      }