body{
    background-color: white;
}
div.caja{
    width: 300px;
    background-color: white;
    height: 300px;
    margin: 100px auto;
    position: relative;
}
div.icono{
    position: absolute;
    color: white;
    background-color: yellow;
    margin: 0%;
    height: 47%;
    width: 47%;
    text-align: center;
    font-size: 100px;
    display: inline-block;
    font-size: 8rem;
    }

div.icono.tl {
    left:  0;
    top:  0;
    background-color: red;
}

div.icono.tr {
    right:  0;
    top:  0;
    background-color: green;
}

div.icono.bl {
    left: 0;
    bottom:  0;
    background-color: blue;
}

div.icono.br {
    bottom:  0;
    right:  0;
    background-color: black;
}