body {
        background-color: lightblue;
        padding: 50px;
    }
h1.titulo-principal {
        color:brown;
        font-size: 40px;
        background-color: white;
        border: 3px solid brown;
        border-radius: 5px;
        max-width: 45%;
        text-align: center;
    }
h2.curso{
        color: brown;
        text-decoration: underline;
    }
h3.alumno{
        color: black;
        font-style: italic;
        font-size: 20px;
    }
ul.lista-ejercicios li{
        color: blue;
        list-style: square;
    }
.foto{
    border-radius: 125px;
    height: 200px;
    weight: 200px;
}