body {
    padding: 50px;
    background-color: beige;
}

div.articulo {
    border: 1px blue solid;
    display: inline-block;
    width: 50%;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    position: relative;
}

div.articulo img {
    width: 100%;
    border-radius: 10px;
}

div.articulo p {
    margin-top: 10px;
    margin-bottom: 10px;
}

p.precio {
    font-size: 1.8em;
    font-weight: bold;
}

p.nombre {
    font-size: 1.4em;
    font-weight: bold;
}

p.descripcion {
    font-size: 1.2em;
}

div.botones div {
    text-align: center;
    display: inline-block;
    background-color: gainsboro;
    width: 45%;
    font-size: 2rem;
    margin: 0 2%;
    padding-top: 5ps;
    padding-bottom: 8px;
}
i.rojo{
    color: red;
    position: absolute;
    top: 20px;
    right: 20px;
    }