
.texto-carrousel{
   font-size: 50px;
    text-shadow: 0 0 5px black;
}
.carrousel {
    border: 1px solid black;
    border-radius: 25px;
    overflow: hidden;
    width: 100%;
    height: 500px;
    background: white;
    margin-top: 1px;
}  

.mini{
    border: 1px solid black;
    border-radius: 25px;
    overflow: hidden;
    margin-top: 3px;
    margin-bottom: 1px;
    width: 100%;
    height: 200px;
}

.principal{
    display: inline-block;
    justify-content: left;
    margin-top: 3px;
    margin-bottom: 1px;
    margin-left: -250px;
    width: 1200px;
    height: 800px;
}

.secondary{
    display: inline-block;
    justify-content: right;
    border: 1px solid black;
    border-radius: 25px;
    overflow: hidden;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: -500px;
    width: 400px;
    height: 700px;
}
.lateral{
    width: 100%;
    height: 100%;
}
