body{
    background-color: #477148;

}
.ruleta{
    -webkit-transition: -webkit-transform 3s ease-out;
    -moz-transition: -moz-transform 3s ease-out;
    transition: transform 3s ease-out;
    position: absolute;
    
}

.flechita.temblando{
    animation: tiembla 0.1s infinite;
  }
  @keyframes tiembla{
    0%  {transform:rotateZ(-8deg); }
    50% {transform:rotateZ( 0deg); }
    100%{transform:rotateZ( 8deg); }
  }
.flechita{
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 1;
    margin-top: 20px;
    align-self: flex-start;
  
    
}
.coin{
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 1;
      
}

.componenteRuleta{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 650px;

}

button{
    display:inline-block;
}

