<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>React - ejercicios</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos.css">

    <script src="https://unpkg.com/react@15/dist/react.min.js"> </script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>

<body>
    <div id="root"></div>

    <script type="text/babel">

    class Main extends React.Component {
            render() {
                return (
                <div>
                <Titulo mensaje="Hola React!" />
                <BolaX talla="80" margen="10px" fondo="#ff0000" />
                <CuadradoB talla="70" margen="8px" fondo="red" />
                <Mosca color="blue" />
                <Capital nom="barcelona" />
                <Gato ancho="200" alto="200" nombre="Garfield" />
                <BolaBingo num="22" />
                <FotoBola src="http://lorempixel.com/200/200" talla="200" />
                <Marco src="http://lorempixel.com/200/300" borde="10" color="brown" fondo="beige" />
               
                </div>
                );
            }
        }

    const Titulo= (props) => <h1>{props.mensaje}</h1>;

    function BolaX(props){
    return (<div style={
    {width: props.talla, 
    height: props.talla, 
    margin: props.margen, 
    backgroundColor: props.fondo, 
    borderRadius: props.talla/2}
} />);
}
function CuadradoB(props){
    return ( <div style={
    {width: props.talla, 
    height: props.talla, 
    margin: props.margen, 
    backgroundColor: props.fondo, }
} />);
}
function Mosca (props){
    return (<div style={
    {position: "fixed",
    top: "10px",
    right: "10px",
    fontSize: "40px",
    color: props.color
   }} >
        <i className="fab fa-pied-piper-alt"></i>
        </div>);
}
   function Capital (props){
       return (
           <div>
           <div style={{fontSize: "200px", color: "black", textTransform: "capitalize"}}>{props.nom[0]}</div>
           <div style={{fontSize: "30px", color: "black", textTransform: "capitalize"}}>{props.nom}</div>
       </div> );
   }

   function Gato (props){
       const url= `http://placekitten.com/${props.ancho}/${props.alto}`;
       return(
           <div style={{display: "inline-block", border: "1px solid blue", padding: "5px"}}>
           <img src={url} />
           <div style={{textAlign: "center"}}>{props.nombre}</div>
          </div>
        )
   }
   function BolaBingo (props) {
        return <div className="Bola" style={{display: "block", color: "white", textAlign: "center", lineHeight: "50px"}}>{props.num}</div>;     
    }
    function FotoBola (props) {
        const url= props.src;
        return (
            <img src={url} style={
            {display: "block",
            width: props.talla,
            height: props.talla,
            borderRadius: props.talla/2}} />
      
        );     
    }
    function Marco (props){
        const url= props.src;
         return(
            <div style={
            {display: "inline-block", 
            border: `3px solid ${props.color}`,
            backgroundColor: props.fondo,
            padding: props.borde
            }}>
            <img src={url} />   
            </div>     
        )
   }


    ReactDOM.render( <Main  />, document.getElementById("root") );
    
</script>
</body>