.Bola {
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}
.Cuadrado {
    background-color: red;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 5px;
}
.Separador{
        display: block;
    border-top: 1px solid black;
    border-bottom: 3px solid black;
    padding: 4px;
    
}
