

.calculadora{
    width: 200px;
    height: 350px;
    border: 5px solid black;
    border-radius: 10%;
    margin-left: 20%;
background-color: gray;
position: fixed;

}


.calcBoton{
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 200%;
    
    
}
.pantalla{
    background-color: lightgreen;
    border: 3px solid black;
    position: relative;
    width: 80%;
    height: 15%;
    margin: 10%;
    font-size: 45px;
    text-align: right;
    
 
}