


div.circulo{
    margin-top: 50px;
   background-color: gray;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
}

div.circulo.rojo{
    background-color:red ; 
}
div.circulo.verde{
    background-color: green; 
}
div.circulo.azul{
    background-color: blue; 
}
    
    
